* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sant-serif;
    font-size: 12pt;
    color: #2b2b2b;
    text-indent: 0;
}

.invisible {
    display: none !important;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.indented {
    margin: 3px;
}

.border-left {
    border-left: solid thin #c5c5c5;
}

.centered {
    text-align: center;
}

.border-left.indented {
    padding-left: 3px;
}

.border-bottom {
    border-bottom: solid thin #c5c5c5;
}

.border-top {
    border-top: solid thin #c5c5c5;
}

.vertical-range {
    width: 30px;
    height: 150px;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}