.player {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: darkgray;
}

.player__drop-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.player__visualization {
    display: block;
    width: 100%;
    height: 250px;
    border: solid thin red;
}

.player__visualization2 {
    display: block;
    width: 100%;
    height: 250px;
    border: solid thin red;
}

.player__equalizer {
    z-index: 2;
    position: relative;
}

.player__drop-area--hover {
    background-color: rgba(125, 255, 210, 0.3);
}

.player__file-input {
    position: absolute;
    top: -5000px;
}

.round-button {
    height: 60px !important;
    width: 60px !important;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 30px;
}

.round-button__img {
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    height: 32px;
    width: 32px;
    display: inline-block;
}

.round-button__img path {
    fill: darkgray;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    position: relative;
    z-index: 2;
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

.round-button:hover .round-button__img {
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    height: 30px;
    width: 30px;
}

.round-button:disabled .round-button__img path {
    fill: grey;
}

.button:active {
    position:relative;
    top:1px;
}

.border:disabled {

}

.vertical-range {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    /*-webkit-appearance: none;*/
    /*width: 200px;*/
    /*height:10px;*/
    /*-webkit-transform:rotate(90deg);*/
    /*-moz-transform:rotate(90deg);*/
    /*-o-transform:rotate(90deg);*/
    /*-ms-transform:rotate(90deg);*/
    /*transform:rotate(90deg);*/
}