.player {
    position: relative;
}

    .player__drop-area {
        position: fixed;
        background-color: rgba(150, 150, 150, 0.3);
        text-align: center;
        font-size: 32pt;
        color: #555555;
        font-weight: bold;
        padding-top: 40%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .player__visualization-select {
        position: relative;
    }

    .player__visualization-canvas {
        margin-top: 3px;
        width: 100%;
        height: 250px;
        min-width: 400px;
    }

    .player__equalizer {
        position: relative;
        width: 380px;
    }

    .player__file-input {
        position: absolute;
        top: -5000px;
    }

    .player__tags {
        font-size: 90%;
        padding-left: 3px;
        min-width: 300px;
    }

    .player__file-name {
        font-weight: bolder;
    }

    .player__error {
        font-weight: 500;
        padding-left: 3px;
        padding-right: 3px;
        color: darkred;
        border-color: darkred;
    }